<main class="h-screen flex flex-col justify-start items-center">
  <a
    routerLink="/stored-games"
    class="text-gray-500 hover:text-gray-400 mt-4 inline-block"
    >Elmentett játékok</a
  >

  <p
    class="text-3xl mt-36"
    [ngClass]="nextUp === 1 ? 'text-blue-400' : 'text-yellow-400'"
  >
    {{ getCurrentPlayerText() }}
  </p>

  <div class="mt-8 border-l-2 border-t-2 border-gray-400">
    <div *ngFor="let row of getGameStateForBoard(); let i = index" class="flex">
      <div
        *ngFor="let cell of row; let j = index"
        (click)="handleClick(i, j)"
        class="w-20 h-20 border-r-2 border-b-2 border-gray-400 flex items-center justify-center text-2xl cursor-pointer"
      >
        <mat-icon
          *ngIf="cell === '1'"
          class="text-blue-400 transition-opacity duration-600"
          >clear</mat-icon
        >
        <mat-icon
          *ngIf="cell === '2'"
          class="text-yellow-400 transition-opacity duration-600"
          >radio_button_unchecked</mat-icon
        >
      </div>
    </div>
  </div>
  <button
    *ngIf="hasGameStarted() && !isGameOver()"
    (click)="saveGame()"
    class="mt-8 px-6 py-2 bg-blue-700 hover:bg-blue-600 rounded-md text-white font-semibold"
  >
    Jelenlegi állapot mentése
  </button>
  <input
    *ngIf="showNameInput"
    [(ngModel)]="gameName"
    placeholder="Játék neve"
    class="mt-4 px-4 py-2 border rounded-md bg-black text-yellow-500"
  />
  <button
    *ngIf="isGameOver()"
    (click)="resetGame()"
    class="mt-8 px-6 py-2 bg-yellow-400 hover:bg-yellow-500 rounded-md text-black font-semibold"
  >
    Játsszunk újra!
  </button>
</main>
