<main class="h-screen flex flex-col justify-start items-center">
  <a
    routerLink="/game"
    class="text-gray-500 hover:text-gray-400 mt-4 inline-block"
    >Játsszunk!</a
  >

  <div class="mt-8 w-96">
    <div
      *ngFor="let game of games"
      class="mb-4 p-4 border border-gray-700 rounded-lg flex justify-between items-center"
    >
      <h3 class="text-xl text-yellow-400">{{ game.name }}</h3>
      <button
        (click)="deleteGame(game.id)"
        class="px-3 py-1 bg-red-600 hover:bg-red-700 rounded text-white"
      >
        Törlés
      </button>
    </div>
  </div>
</main>
