@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
}

.mdc-snackbar__surface {
  background-color: #facc15 !important;
}

.mdc-snackbar__label {
  color: black !important;
  text-align: center;
  font-size: 1.2rem !important;
}
